<ion-view view-title="Barbers">
  <ion-content>
    <ion-list>
      <!--      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="barber in barbers" type="item-text-wrap" href="#/tab/barbers/{{barber.id}}">-->
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="barber in barbers" type="item-text-wrap" href="#/tab/barbers/{{barber.id}}">
        <img ng-src="{{barber.profilePhoto}}">
        <h2>{{barber.name}}</h2>
        <p>{{barber.shopName}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
